@import '../hypr/theme/colors.css';

* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
}

@define-color text-color @fg;
@define-color noti-border-color @border2;
@define-color noti-internal-border-color rgba(255, 255, 255, 0.15);
@define-color noti-bg alpha(@bg, 0.7);
@define-color noti-bg-hover @bg;
@define-color noti-action-bg alpha(@bg, 0.8);
@define-color noti-action-bg-hover @bg;
@define-color noti-close-bg @color9;
@define-color noti-close-bg-hover @color1;
@define-color noti-critical-bg rgb(255, 0, 0);
@define-color noti-switch-checked @color10;

.notification {
  border: 2px solid @noti-border-color;
}

.notification-content {
  background-color: transparent;
  padding: 10px 10px 10px 10px;
}

.notification-content:hover {
  background-color: @noti-bg-hover;
}

.notification-action {
  background-color: @noti-action-bg;
  border-top: 1px solid @noti-internal-border-color;
  border-right: 1px solid @noti-internal-border-color;
}

.notification-action:hover {
  background-color: @noti-action-bg-hover;
}

.notification.critical {
  border: 2px solid @noti-critical-bg;
}

.close-button {
  background: @noti-close-bg;
  border-radius: 10px;
  margin-top: 10px;
}

.close-button:hover {
  background: @noti-close-bg-hover;
  transition: all .15s ease-in-out;
}

.widget-dnd > switch {
  border: 2px solid @noti-internal-border-color;
}

.widget-dnd > switch:checked {
 background-color: @noti-switch-checked;
}

.widget-dnd > switch slider {
  box-shadow: none;
}

.widget-buttons-grid {
  background: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  color: @text-color;
  background: @noti-bg;
  border: 2px solid @noti-internal-border-color;
  box-shadow: none;
  font-size: 20px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @noti-bg-hover;
}

.widget-title > button {
  border: 2px solid @noti-internal-border-color;
}

.notification-group-buttons button {
  color: @text-color;
  background: @noti-bg;
  border: 2px solid @noti-internal-border-color;
  box-shadow: none;
}

.notification-group-buttons button:hover {
  background: @noti-bg-hover;
}
