@import '../hypr/theme/colors.css';

* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @bg;
  border-radius: 10px
}

.notification-row {
  outline: none;
  margin: 0px;
}

.notification {
	border-radius: 10px;
}

.notification-content{
  color: @fg;
  background: @bg;
  padding: 3px 10px;
  border-radius: 10px;
  border: 1px solid @cyan;
  margin: 0px;
  min-height: 27px;
}

.notification-default-action {
  margin: 5px;
  padding: 0;
  border-radius: 10px;
}


.close-button {
  background: @red;
  color: @bg;
  text-shadow: none;
  padding: 0;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 5px;
}

.close-button:hover {
  box-shadow: none;
  background: @red;
  transition: all .15s ease-in-out;
  border: none
}

.notification-action {
  background: @bg;
  border: 1px solid @cyan;
  border-top: none;
  border-radius: 10px;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @fg;
  background: @bg
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px
}

.inline-reply {
  margin-top: 8px
}

.inline-reply-entry {
  background: @bg;
  color: @fg;
  caret-color: @fg;
  border: 1px solid @cyan;
  border-radius: 10px
}

.inline-reply-button {
	font-size: 0.5rem;
  margin-left: 4px;
  background: @bg;
  border: 1px solid @cyan;
  border-radius: 10px;
  color: @fg;
}

.inline-reply-button:disabled {
  background: initial;
  color: @fg;
  border: 1px solid transparent
}

.inline-reply-button:hover {
  background: @bg;
}

.body-image {
  margin-top: 6px;
  color: @fg;
  border-radius: 10px
}

.summary {
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  color: @fg;
  text-shadow: none
}

.time {
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  color: @fg;
  text-shadow: none;
  margin-right: 18px
}

.body {
  font-size: 1rem;
  font-weight: bold;
  background: transparent;
  color: @fg;
  text-shadow: none
}

.control-center {
  background: @bg;
  border: 1px solid @cyan;
	color: @fg;
  border-radius: 10px;
}

.control-center-list {
  background: transparent
}

.control-center-list-placeholder {
  opacity: 0.5
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: alpha(black, 0.1)
}

.widget-title {
  color: @fg;
  background: @bg;
  padding: 3px 6px;
  margin: 5px;
  font-size: 1rem;
  border-radius: 10px;
}

.widget-title>button {
  font-size: 0.75rem;
  color: @fg;
  border-radius: 10px;
	background: transparent;
	border: 0.5px solid @cyan;
}

.widget-title>button:hover {
  background: @fg;
  color: red;
}

.widget-dnd {
  background: @bg;
  padding: 3px 6px;
  margin: 5px;
  border-radius: 10px;
  font-size: 1rem;
  color: @cyan;
}

.widget-dnd>switch {
  border-radius: 10px;
  border: 1px solid #7aa2f7;
  background: @cyan;
}

.widget-dnd>switch:checked {
  background: #f7768e;
  border: 1px solid #f7768e;
}

.widget-dnd>switch slider {
  background: @bg;
  border-radius: 10px
}

.widget-dnd>switch:checked slider {
  background: @bg;
  border-radius: 10px
}

.widget-label {
  margin: 5px;
}

.widget-label>label {
  font-size: 1rem;
  color: @fg;
}

.widget-mpris {
  color: @fg;
  background: @bg;
  padding: 3px 6px;
  margin: 5px;
  border-radius: 10px;
}

.widget-mpris > box > button {
  border-radius: 10px;
}

.widget-mpris-player {
  padding: 3px 6px;
  margin: 5px;
}

.widget-mpris-title {
  font-weight: 100;
  font-size: 1rem
}

.widget-mpris-subtitle {
  font-size: 0.75rem
}

.widget-buttons-grid {
  font-size: large;
	color: @cyan;
  padding: 2px;
  margin: 5px;
  border-radius: 10px;
  background: @bg;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 1px;
  background: @bg;
  border-radius: 10px;
  color: @fg;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @fg;
  color: @bg;
}

.widget-menubar>box>.menu-button-bar>button {
  border: none;
  background: transparent
}

.topbar-buttons>button {
  border: none;
  background: transparent
}

.widget-volume {
  background: @bg;
  padding: 2px;
  margin: 10px 10px 5px 10px;
  border-radius: 10px;
  font-size: x-large;
  color: @fg;
}

.widget-volume>box>button {
  background: @cyan;
  border: none
}

.per-app-volume {
  background-color: @bg;
  padding: 4px 8px 8px;
  margin: 0 8px 8px;
  border-radius: 10px;
	color: @fg;
}

.widget-backlight {
  background: @bg;
  padding: 5px;
  margin: 10px 10px 5px 10px;
  border-radius: 10px;
  font-size: x-large;
  color: @fg;
}

.low {
  padding: 0px;
  border-radius: 10px;
}

.normal {
  padding: 0px;
  border-radius: 10px;
}

.critical {
  background: @red;
  padding: 0px;
  border-radius: 10px;
  border: 1px solid @red;
}
